<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #7749F8 !important">

  <!-- enlaces -->
  <div class="collapse navbar-collapse" id="opciones">

    <span style="font-size: 20px; margin: 10px; color: white;" class="nav-brand" [routerLink]="['/']">MediAlarms</span>

    <ul class="navbar-nav" style="padding-left: 20px;">

      <li class="nav-item" style="margin-left: 30px;">
        <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="nav-item" style="margin-left: 30px;">
        <a class="nav-link" [routerLink]="['/medicamentos']">Medicamentos</a>
      </li>

      <li class="nav-item" style="margin-left: 30px;">
        <a class="nav-link" [routerLink]="['/']">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
  <div style="float: left; padding-right: 16px;">

    <span style="font-size: 20px; margin: 10px; color: white; padding-right: 6px;" class="nav-brand">Esneider
      Restrepo</span>
    <img src="../assets/img/hombre.png" alt="">
  </div>
</nav>
